@import "./catppuccin.css";

:root {
	color: var(--text)
}

html {
	height: 100%
}

body, textarea, input {
	all: unset;
	tab-size: 4
}

/* https://catppuccin.com/palette/ */
body {
	position: relative;
	font-family: monospace;
	font-size: clamp(16px, 3vw, 20px);
	word-break: break-word;
	background-color: var(--base)
}

textarea::selection {
	background-color: rgb(from var(--overlay2) r g b / .3)
}

::highlight(squigly-bracket) {
	color: var(--sapphire)
}

::highlight(square-bracket) {
	color: var(--lavender)
}

::highlight(punctuation) {
	color: var(--overlay2)
}

::highlight(boolean) {
	color: var(--yellow)
}

::highlight(number) {
	color: var(--peach)
}

::highlight(null) {
	color: var(--mauve)
}

::highlight(string) {
	color: var(--green)
}

::highlight(key) {
	color: var(--blue)
}
