:root {
	color-scheme: light dark
}

html {
	height: 100%
}

body, textarea, input {
	all: unset;
	tab-size: 4
}

body {
	position: relative;
	font-family: monospace;
	font-size: clamp(16px, 3vw, 20px);
	word-break: break-word
}

::highlight(squigly-bracket) {
	color: light-dark(#7287FD, #B4BEFE)
}

::highlight(square-bracket) {
	color: light-dark(#209FB5, #74C7EC)
}

::highlight(punctuation) {
	color: light-dark(#7C7F93, #9399B2)
}

::highlight(boolean) {
	color: light-dark(#1E66F5, #89B4FA)
}

::highlight(number) {
	color: light-dark(#FE640B, #FAB387)
}

::highlight(null) {
	color: light-dark(#8839EF, #CBA6F7)
}

::highlight(string) {
	color: light-dark(#40A02B, #A6E3A1)
}
